.ItemList > li {
	height: 40px;
	/* list-style: none; */
	padding-left: 15px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.ItemList > li:nth-child(odd) {
	background: var(--blueListColor);
}

.ItemList > li:hover {
	background: var(--grey2);
}

.ItemList-inner {
	margin-bottom: 0;
	padding: 0;
	padding-left: 30px;
}

.ItemList-inner > li {
	height: 40px;
	padding-left: 15px;
	display: flex;
	align-items: center;
	cursor: pointer;
	background: white;
}
